<div ng-controller="TagCtrl" tagset-subscriptions="status">
  <!--<div class="status" style="margin-top:20px">
      <div class="shadow blackbg">
	    <form ng-submit='write("PUMP9/LOG_DB.JOB_NAME",customer)'>
          <input id="customerentry" class="form-control" type="text" ng-model="customer">
        </form>
	  </div>
  </div>-->
  
  <div class="status row noprint" style="margin-top:20px">
    <div class="col-md-4">
      <div class="shadow avg1ratebox">
		<h3>JAW PLANT CURRENT RATE</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.JAW_PLANT.REGISTERS.AVERAGE_RATE"].value | number:0 }}</h4>
		<h2>TON/HR</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow avg2ratebox">
		<h3>OVERLAND PLANT CURRENT RATE</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.OVERLAND_PLANT.REGISTERS.AVERAGE_RATE"].value | number:0 }}</h4>
		<h2>TON/HR</h2>
      </div>
    </div>
	<div class="col-md-4">
      <div class="shadow avg3ratebox">
        <h3>AGGLOMERATION CURRENT RATE</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.AGGLOMERATION.REGISTERS.AVERAGE_RATE"].value | number:0 }}</h4>
		<h2>TON/HR</h2>
      </div>
    </div>
  </div>

  <div class="status row noprint" style="margin-top:20px">
    <div class="col-md-4">
      <div class="shadow total1box">
		<h3>JAW PLANT TOTAL</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.JAW_PLANT.REGISTERS.TOTAL"].value | number:0 }}</h4>
		<h2>TON</h2>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow total2box">
		<h3>OVERLAND PLANT TOTAL</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.OVERLAND_PLANT.REGISTERS.TOTAL"].value | number:0 }}</h4>
		<h2>TON</h2>
      </div>
    </div>
	<div class="col-md-4">
      <div class="shadow total3box">
        <h3>AGGLOMERATION TOTAL</h3>
        <h4>{{ status["PERSHING/WEIGHSCALE_DATA.AGGLOMERATION.REGISTERS.TOTAL"].value | number:0 }}</h4>
		<h2>TON</h2>
      </div>
    </div>
  </div>

  <ng-dygraphs data="datax"
      id="mainchart"
      annotations="annotationsx"
      options="optionsx"
      legend="legendx"
      actions="actionsx"
	  rangecallback="rangecallbackx"
      >
  </ng-dygraphs>
  
  <div class="well noprint">
    <a href="/log/main/dailydownload" class="btn btn-info" role="button">Download Last 15h CSV File</a>
    <a href="{{chartcsvurl}}" class="btn btn-info" role="button">Download Chart CSV File</a>
    <button type="button" class="btn btn-info" onclick="window.print();">Print</button>
	<br>
    <label for="MaxLBSHR">Maximum TON/HR</label>
    <input type="number" id="MaxLBSHR" name="MaxLBSHR" min="1" max="10000" ng-model="textboxmaxlbshr">
	<br>
	<br>
	<img src="/views/iedac.jpg" width="103" height="39">
	<p><small>Client Version: {{ version().client }}&nbsp</small>
    <br><small>Server Version: {{ version().app }}&nbsp</small>
    <br><small>Engine Version: {{ version().node }}&nbsp</small></p>
  </div>

</div>
