/* CSS declarations */
body {
	background-color: white; /*(;#000000;*/
}

.shadow {
	border: 1px solid black;
/*	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888; */
/* new to remove alert alert-info */	
/*	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;*/
	padding: 4px 4px 4px 4px;
	margin-bottom: 10px;
/*	text-shadow: 0 1px 0 rgba(255,255,255,0.5); 
background-color: #fcf8e3;
border: 1px solid #fbeed5; */
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
	
}

.shadow h5 {
	font-size: 12em;
	line-height: 100%;
}

.shadow h4 {
	font-size: 3em; /* was 7 */
	line-height: 100%; /* was 100 */
}

.shadow h3 {
	line-height: 100%;
	font-size: 1.5em; /* was 3 */
}
.shadow h2 {
	line-height: 100%;
	font-size: 1.1em; /* was 2 */
}

.avg1ratebox {
	background-color: red;
	color: white;
}

.avg2ratebox {
	background-color: darkred;
	color: white;
}

.avg3ratebox {
	background-color: #ff7570;
	color: black;
}

.total1box{
	background-color: blue;
	color: white;
}

.total2box{
	background-color: darkblue;
	color: white;
}

.total3box{
	background-color: #add8e6;
	color: black;
}

.redbg {
	background-color: red;
	color: black;
}

.totalbox {
	background-color: #ffcc00;
	color: black;
}

.recircdensbox {
	background-color: #00b300;
	color: white;
}

.dhdensbox {
	background-color: #006600;
	color: white;
}

.purplebg {
	background-color: darkmagenta;
	color: white;
}

.ltpurplebg {
	background-color: fuchsia;
	color: white;
}

.greenbg {
	background-color: #0f0;
	color: black;
}

.yellowbg {
	background-color: yellow;
	color: black;
}

.blackbg {
	background-color: black;
	color: white;
}

.bluebg {
	background-color: blue;
	color: white;
}

.titlebar {
	background-color: #fff; /* #800000 */
	width: 100%;
	text-align: center;
	font-size: 5em;
	font-weight:bold;	
	color: black;
	line-height: 100%;  
	padding: 0px;
	margin-bottom: 15px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: white;
}

.table-custom {
	margin-top: 10px;
}

#customerentry {
  text-align:center;
  font-weight:bold;
  font-size:2em;
  height:1.4em;
}

#disconnect {
  position:fixed;
  left: 0;
  top: 0;
  right:0;
  bottom: 0;
  background-color: rgba(255,255,255,.5);
  z-index: 1000;
  text-align:center;
}

#disconnect .msg {
  font-weight: 600;
  position: absolute;
  top: 35%;
  left:0;
  right:0;
  padding: 60px 5px;
  background:#f00;
  color:#fff;
  font-size: 4em;
  z-index: 1000;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,.7);
}

.priority-1 td {
  background-color: #f90;
  color: black;
  font-weight:bold;
  font-size:5em;
  line-height:105%;
}

.priority-2 td {
  background-color: yellow;
  color: black;
  font-weight:bold;
  font-size:5em;
  line-height:105%;
}
.priority-3 td {
  background-color: #f00;
  color: black;
  font-weight:bold;
  font-size:5em;
  line-height:105%;
}

.priority-4 td {
  background-color: #f90;
  color: black;
  font-weight:bold;
  font-size:5em;
  line-height:105%;
}

.priority-5 td {
  background-color: #f00;
  color: black;
  font-weight:bold;
  font-size:5em;
  line-height:105%;
}

.status {
  text-align: center;
}

#extras {
  text-align: center;
}

.warning-ts {
  width:30%;
}

.centerimg {
  display:block;
  margin-left:auto;
  margin-right:auto;
}

@keyframes blink {  
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
}

@-webkit-keyframes blink {
      0% { opacity: 1.0; }
      50% { opacity: 0.0; }
      100% { opacity: 1.0; }
}

.blink {
      animation: blink 1s step-start 0s infinite;
      -webkit-animation: blink 1s step-start 0s infinite;
}

.legend {
    padding: 10px;
    margin: 5px 0;
    border: solid 1px #ddd;
    text-align: center;
}
.legend .series {
    display: inline-block;
    margin: 5px;
}
.legend .series a {
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    color: #999;
}
.legend .series a:hover {
    background-color:#ddd;
}
.actions {
    text-align: center;
}
.actions .action {
    margin: 5px;
    display: inline-block;
}

.ng-dygraphs {
  margin: 30px 0;
}
.dygraph-legend {
  padding: 2px 5px 5px;
  border: solid 1px #ccc;
}

.ng-dygraphs .graph-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
}

.ng-dygraphs .graph {
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}
.dygraph-annotation {
  width: auto;
  height: 25px;
  width: 25px;
  line-height: 25px;
  vertical-align: middle;
  font-size: 12px;
}
.dygraph-axis-label {
  font-size: 1.3em;
}
.dygraph-label {
  font-size: 1.3em;
}

@media print {
	#mainchart {
		-ms-transform: scale(0.8,0.8);
		-ms-transform-origin: 0 0;
		zoom: 60%;
	}

	.noprint,
  .actions {
		display: none;
	}	
}


	
@media print{@page {size: landscape}}
